<#include "/macro.include"/>
<#assign className = table.className>   
<#assign classNameFirstLower = table.classNameFirstLower>   
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<#macro mapperEl value>${r"#{"}${value}}</#macro>
<#macro namespace>${className}.</#macro>
<mapper namespace="${basepackage}.dao.read.${className}ReaderDao">
	<sql id="condition_sql">
	    <#list table.columns as column>
	  <if test="${column.columnNameFirstLower} != null" >  
         AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower +",jdbcType=${column.jdbcType}" />  
        </if> 
      </#list>	
   </sql>
   
   <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" /> from
		${table.sqlName}
		<where>
         <include refid="condition_sql" />
      </where>
      <![CDATA[ order by create_time desc]]>
		limit <@mapperEl "pageFirst"/>,<@mapperEl "pageSize"/>
	</select>

	<select id="listPageCount" parameterType="java.util.Map" resultType="long">
		select count(1) from
		${table.sqlName}
		<where>
         <include refid="condition_sql" />
        
      </where>
	</select>
   
   <select id="getBy" parameterType="${basepackage}.entity.${className}" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> from
      ${table.sqlName}
      <where>
         <include refid="condition_sql" />
      </where>
      <![CDATA[ order by create_time desc]]>
   </select>
   
   <select id="getById" parameterType="${basepackage}.entity.${className}" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> from
      ${table.sqlName}
      <where>
         <include refid="condition_sql" />
      </where>
   </select>
</mapper>

