<#include "/macro.include"/>
<#assign className = table.className>
<#assign classNameFirstLower = table.classNameFirstLower>
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<#macro mapperEl value>${r"#{"}${value}}</#macro>
<#macro namespace>${className}.</#macro>
<mapper namespace="${basepackage}.dao.read.${className}ReaderDao">
	<sql id="condition_sql">
		<#list table.columns as column>
		<#if column.isStringColumn>
		<if test="${column.columnNameFirstLower} != null and ${column.columnNameFirstLower} !=''  ">
			AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower+",jdbcType=${column.jdbcType}" />
		</if>
		</#if>
		<#if !column.isStringColumn>
		<if test="${column.columnNameFirstLower} != null">
			AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower +",jdbcType=${column.jdbcType}" />
		</if></#if>
		</#list>
	</sql>

	<select id="listPage" parameterType="${basepackage}.vo.${className}Vo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		${table.sqlName}
		<where>
			<include refid="condition_sql" />
		</where>
      <![CDATA[ order by create_time desc]]>
		limit <@mapperEl "pageFirst"/>,<@mapperEl "pageLast"/>
	</select>

	<select id="listPageCount" parameterType="${basepackage}.vo.${className}Vo"
		resultType="long">
		select count(1) from
		${table.sqlName}
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<select id="get${className}sBy" parameterType="${basepackage}.vo.${className}Vo"  resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		${table.sqlName}
		<where>
			<include refid="condition_sql" />
		</where>
      <![CDATA[ order by create_time desc]]>
	</select>

	<select id="get${className}By" parameterType="${basepackage}.vo.${className}Vo"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from
		${table.sqlName}
		<where>
			<include refid="condition_sqlcondition_sql" />
		</where>
	</select>
</mapper>

